{%  extends 'base.html' %}
{%  load static %}


{% block navbar_start %}	
<a class="navbar-item" href="/">
    Dashboard
</a>
<a class="navbar-item" href="/portfolio/create/">
    Portfolio
</a>
<a class="navbar-item is-active" href="/about/">
    About us
</a>
{% endblock %}
{% block main %}
<section class="section">
  <div class="container">
    <h1 class="title">About Us</h1>
    <p class="subtitle">Learn more about who we are and what we do</p>
    <div class="columns">
      <div class="column is-3">
        <figure class="image">
          <img src="{% static 'images/Icons/SSF.png' %}" alt="Your Company Logo">
        </figure>
      </div>
      <div class="column">
        <p> </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h2 class="title is-4">Our Mission</h2>
        <p>We are SSF for make the live better.</p>
      </div>
      <div class="column">
        <h2 class="title is-4">Our Values</h2>
        <p></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
