{%  extends 'base.html' %}
{%  load static %}


{% block navbar_start %}	
<a class="navbar-item" href="/">
    Dashboard
</a>
<a class="navbar-item" href="/portfolio/create/">
    Portfolio
</a>
<a class="navbar-item is-active" href="/about/">
    About us
</a>
{% endblock %}




{% block main %}

Hello there, we are SSF for make the live better...





<section class="section">
  <div class="container">
    <h1 class="title">About Us</h1>
    <p class="subtitle">Learn more about who we are and what we do</p>
    <div class="columns">
      <div class="column is-3">
        <figure class="image">
          <img src="{% static 'images/Icons/SSF.png' %}" alt="Your Company Logo">
        </figure>
      </div>
      <div class="column">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue ex a mauris aliquet, id bibendum dolor faucibus. Duis viverra, ipsum eget efficitur tincidunt, sapien diam convallis nulla, euismod commodo metus nibh at elit. Sed accumsan quis ipsum id fringilla. Quisque posuere enim nulla, vel blandit velit molestie vel. Proin sit amet scelerisque purus. Nunc eleifend enim eget urna luctus, a ullamcorper odio efficitur.</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h2 class="title is-4">Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget scelerisque lacus. Sed interdum, magna non tempor congue, dui magna blandit risus, eget sollicitudin ante massa non ligula. Nullam molestie, purus in sagittis tempor, metus elit gravida ante, ut sagittis est ligula in dolor. Quisque vitae facilisis nisi. </p>
      </div>
      <div class="column">
        <h2 class="title is-4">Our Values</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget scelerisque lacus. Sed interdum, magna non tempor congue, dui magna blandit risus, eget sollicitudin ante massa non ligula. Nullam molestie, purus in sagittis tempor, metus elit gravida ante, ut sagittis est ligula in dolor. Quisque vitae facilisis nisi. </p>
      </div>
    </div>
  </div>
</section>





{% endblock %}
