{%  extends 'base.html' %}

{% block navbar_start %}	
<a class="navbar-item is-active" href="/">
    Dashboard
</a>
<a class="navbar-item" href="/portfolio/create/">
    Portfolio
</a>
<a class="navbar-item" href="/about/">
    About us
</a>
{% endblock %}


{% block main %}
<div class="columns is-multiline">
    {% for portfolio in portfolios %}
    <div class="column is-one-third">
        <div class="card is-primary">
            <div class="card-content ">
                <p class="title has-text-centered">{{portfolio.name}}</p>
                <p class="subtitle">
                <!-- <ul> -->
                <!--     <li>Basic Balance: {{ portfolio.basic_balance  }}$</li> -->
                <!--     <li>Monthly Pay: {{ portfolio.monthly_pay  }}$</li> -->
                <!--     <li>Target Money: {{ portfolio.target  }}$</li> -->
                <!-- </ul> -->
               </p>
               {% if portfolio.get_collection %}
               <img src="{{portfolio.get_collection.chart.url}}" class="has-text-center">
                <ul>
                    <li>Profit: {{ portfolio.get_profit }}%</li>
                    <li>Risk: {{ portfolio.get_risk }}</li>
                    <!-- <li>You need {{ portfolio.years|floatformat:2 }} years and {{portfolio.months|floatformat:2}} months to that target</li> -->
                    <li>You need {{ portfolio.years|floatformat:0 }} years and {{portfolio.months|floatformat:0}} months to that target</li>
                </ul>
               {% endif %}
             </div>
            <footer class="card-footer has-text-centered">
                <a class="card-footer-item" href="{{ portfolio.get_absolute_url }}">View</a>
            </footer>
        </div>
    </div>

    {% empty  %}
    <section class="column hero is-warning has-text-centered">
        <div class="hero-body has-text-centered">
            <p class="title">
            There are no protfolios.
            </p>
            <p class="subtitle">
            Create one from Protfolios tabs
            </p>
        </div>
    </section>
    {% endfor %}
{% endblock %}
