{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block navbar_start %}	

<a class="navbar-item" href="/">
    Dashboard
</a>

<a class="navbar-item" href="/portfolio/create/">
    Portfolio
</a>
<a class="navbar-item" href="/about">
    About us
</a>
{% endblock %}


{% block main %}
<div class="title has-text-centered">{{portfolio.name}}</div>
<div class="column is-6 is-offset-3">
  <figure class="image is-3by3">
      <img src="{{portfolio.get_collection.chart.url}}" class="is-large">
  </figure>
</div>

<div class="columns is-centered">
  <div class="column is-half">
   <div class="has-text-centered">
      <p></p>
      <p>Basic Balance: ${{portfolio.basic_balance}}</p>
      <p>Monthly Pay: ${{portfolio.monthly_pay}}</p>
      <p>Target Money: ${{portfolio.target}}</p>
      <p>Profit: {{portfolio.get_profit}}%</p>
      <p>Risk: {{portfolio.get_risk}}</p>
    </div>
  </div>
</div>


{% endblock %}


